{% extends "base.html" %}
{% block title %}Associação{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <div class="container">
        <form method="POST">
            <div class="row">
                <div class="form-group col">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome">
                </div>
                <div class="form-group col">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                </div>
                <div class="form-group col">
                    <label>Telefone</label>
                    <input type="text" class="form-control" name="tele" id="tele" placeholder="Telefone">
                </div>
            </div>
            <br>
            <div style="text-align: center">
                <button class="btn btn-dark" type="submit">Submeter</button>
            </div>
        </form>
        <hr>
        <div style="text-align: center">
            <button id="import" class="btn btn-danger">Importar</button>
            <button id="lr" class="btn btn-danger">Lista de erros</button>
        </div>

        <hr>

        {% set count = 0 %}
        <div class="row py-5">
            <div class="col-lg-10 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="table-responsive">
                            <table id="tabela" style="twidth:100%" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Telefone</th>
                                    <th>Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in movi %}
                                    {% set count = count + 1 %}
                                    <tr>
                                        <td>{{ data.id }}</td>
                                        <td>{{ data.nome }}</td>
                                        <td>{{ data.email }}</td>
                                        <td>{{ data.tele }}</td>
                                        <td><a class="btn btn-warning" href="/asc/{{ data.id }}/update">Editar</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Modal Importar #}
    <div id="upload" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="center">
                <form method="POST" action="{{ url_for('views.uploadcsv') }}" enctype=multipart/form-data>
                    <h1>Importar CSV</h1>
                    <div class="form-group">
                        <label>Ficheiro</label>
                        <input type="file" class="form-control" name="file" id="file"
                               placeholder="Ficheiro" accept=".csv">
                    </div>
                    <br>
                    <button class="btn btn-dark" id="but" type="submit">
                        Submeter
                    </button>
                </form>
                <div id="spin" style="display: none" class="spinner-border text-info"></div>
            </div>
        </div>
    </div>

    {# Modal Tabela #}
    <div id="mtabela" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="eclose">&times;</span>

            <table id="etabela"
                   class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                {% for data in er %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.nome }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.tele }}</td>
                        <td><a class="btn btn-warning"
                               href="/easc/{{ data.id }}/update">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div style=" position: fixed;
    bottom: 0;
    right: 0;">
        <p>Registros importados: {{ cnt }}</p>
        <br>
        <p id="tt">Total registros importados: {{ tcnt }}</p>
        <br>
        <p id="ett">Total registros falhados: {{ ecnt }}</p>
    </div>

    <script>

        // Get the modal
        var tabela = document.getElementById("mtabela");
        var mimportar = document.getElementById("upload");

        // Get the button that opens the modal
        var btn = document.getElementById("import");
        var ebtn = document.getElementById("lr");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var espan = document.getElementsByClassName("eclose")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            mimportar.style.display = "block";
        }
        ebtn.onclick = function () {
            tabela.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            mimportar.style.display = "none";
        }
        espan.onclick = function () {
            tabela.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == mimportar) {
                mimportar.style.display = "none";
            }
        }
        window.onclick = function (event) {
            if (event.target == tabela) {
                tabela.style.display = "none";
            }
        }

        $(document).ready(function () {
            $('#tabela').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json'
                }
            });
            document.getElementById('tt').innerText = "Total registros importados: " + $('#tabela').DataTable().rows().count();
        });

        $(document).ready(function () {
            $('#etabela').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json'
                }
            });
            document.getElementById('ett').innerText = "Total registros falhados: " + $('#etabela').DataTable().rows().count();

        });


        var spin = document.getElementById("spin");
        var but = document.getElementById("but");
        but.onclick = function () {
            spin.style.display = "block";
        }


    </script>

{% endblock %}