<!doctype html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--     Fonts and icons     -->

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Material Kit CSS -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <link href="{{ url_for('static', filename='material-dashboard.css') }}" rel="stylesheet"/>
</head>

<body>
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo">
            <a href="#" class="simple-text logo-normal">
                IETTTO
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active  ">
                    {% if not user.role == "Cliente" %}
                        <div class="nav-link btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Administrativo
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/users">Cadastro Usuario</a>
                                <a class="dropdown-item" href="/empresas">Cadastro Empresa</a>
                                <a class="dropdown-item" href="/produtos">Cadastro Produto</a>
                                <a class="dropdown-item" href="/campanhas">Cadastro Campanha</a>
                                <a class="dropdown-item" href="/cliente">Cadastro Cliente</a>
                                <a class="dropdown-item" href="/associacao">Associação</a>
                            </div>
                        </div>
                        </li>
                    {% endif %}
                {% if not user.role == "Cliente" %}
                    <li class="nav-item">
                        <a href="#" class="nav-link btn btn-info btn-lg disabled" role="button"
                           aria-disabled="true">Gerente</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link btn btn-info btn-lg disabled" role="button"
                           aria-disabled="true">Supervisor</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="/movimentacao" class="nav-link btn btn-info btn-lg" role="button"
                       aria-disabled="true">Movimentação</a>
                </li>
                <li class="nav-item">
                    <a disabled href="#" class="nav-link btn btn-info btn-lg disabled" role="button"
                       aria-disabled="true">Suporte</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link btn btn-danger btn-lg" role="button" aria-disabled="true">Encerrar
                        dia</a>
                </li>
                <!-- your sidebar here -->
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:;">Dashboard</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <p class="nav-link">Olá {{ user.role }}: {{ user.name }}</p>
                        </li>
                        <!-- your navbar here -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <!-- your content here -->
            </div>
        </div>
    </div>
</div>
</body>

</html>