{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100" style="display: flex; flex-wrap: wrap">
            <div class="col-4" style="background-color: dimgray;">
                <div class="d-grid col-3 gap-3 mx-auto">
                    <br>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">Administrativo
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/users">Cadastro Usuario</a></li>
                            <li><a class="dropdown-item" href="/empresas">Cadastro Empresa</a></li>
                            <li><a class="dropdown-item" href="/produtos">Cadastro Produto</a></li>
                            <li><a class="dropdown-item" href="/campanhas">Cadastro Campanha</a></li>
                            <li><a class="dropdown-item" href="/cliente">Cadastro Cliente</a></li>
                            <li><a class="dropdown-item" href="/associacao">Associação</a></li>
                        </ul>
                    </div>
                    <button disabled type="button" class="btn btn-primary">Gerente</button>
                    <button disabled type="button" class="btn btn-primary">Supervisor</button>
                    <a href="/movimentacao" class="btn btn-primary">Movimentação</a>
                    <button type="button" class="btn btn-primary">Suporte</button>
                    <button type="button" onclick="chronoStop()" class="btn btn-success">Pausa</button>
                    <button type="button" class="btn btn-success">Sair</button>
                    <a href="/logout" class="btn btn-danger">Encerrar dia</a>
                </div>
                <div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p>{{ user.name }}</p>
                        </div>
                        <div class="col">
                            <p id="date">Data</p>
                            <p id="clock">Horas</p>
                        </div>
                        <div class="col">
                            <p id="tmplog">Tempo logado</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid col-8">
                <img class="logo" style="max-width:50%;height: auto" src="{{ url_for('static', filename='logo.png') }}"
                     alt="">
            </div>
        </div>
    </div>
    <script>

        n = new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = d + "/" + m + "/" + y;

        var clockElement = document.getElementById("clock");

        function updateClock(clock) {
            clock.innerHTML = new Date().toLocaleTimeString();
        }

        setInterval(function () {
            updateClock(clockElement);
        }, 1000);

        (function () {

            var clockElement = document.getElementById("clock");

            function updateClock(clock) {
                clock.innerHTML = new Date().toLocaleTimeString();
            }

            setInterval(function () {
                updateClock(clockElement);
            }, 1000);

        }());
    </script>
{% endblock %}