{% extends "base.html" %}
{% block title %}Registrar{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="row py-5">
                    <div class="col-lg-10 mx-auto">
                        <div class="card rounded shadow border-0">
                            <div class="card-body p-5 bg-white rounded">
                                <div class="table-responsive">
                                    <table id="tabela" style="width:100%" class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Telefone</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for data in asc %}
                                            <tr>
                                                <td>{{ data.id }}</td>
                                                <td style="word-wrap: break-word;word-break:break-all;width: 400rem;">{{ data.nome }}</td>
                                                <td>{{ data.email }}</td>
                                                <td>{{ data.tele }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style=" align-items: center; text-align: center">
                <br>
                <div class="row py-5">
                    <div class="col-lg-10 mx-auto">
                        <div class="card rounded shadow border-0 scroll">
                            <div class="card-body p-5 bg-white rounded">
                                <p class="cc">Ultimo download: </p>
                                <div>
                                    {% for item in download %}
                                        <p>{{ item.data }}</p>


                                        <h1>{{ item.hora }}</h1>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-danger" style="position: absolute;bottom:1rem;" href="/download">Download</a>

            </div>
        </div>
        <td><a href="/dashboard" class="btn btn-dark" style="position: absolute;bottom: 1rem; left: 1rem ">Voltar</a>
        <td><a href="/mudmes" class="btn btn-dark" style="position: absolute;bottom: 1rem; left: 50%;">Mudança Mes(TESTE)</a>
        </td>

    </div>

    <script>
        $(document).ready(function () {
            var table = $('#tabela').removeAttr('width').DataTable({
                select: 'multi',
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json'
                },
                scrollY: 400,
                paging: false,
                searching: false,
                info: false,
                scrollX: true,
                scrollCollapse: true,
                columnDefs: [{width: 200, targets: 2}],

                fixedColumns: true,
                "createdRow": function (row, data, dataIndex, cells) {
                    if (data[0] <= {{ data|safe }}) {
                        $('td', row).css('color', 'Red');
                    }
                }
            });
            new $.fn.dataTable.FixedColumns(table);

            $('#btn').click(function () {
                var data = "Passou"
                $.ajax({
                    type: 'post',
                    url: '/download',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            $('#tabela').css('display', 'block');
            table.columns.adjust().draw();

        });
    </script>

{% endblock %}