{% extends "base.html" %}
{% block title %}Teste{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">NIF</th>
            <th scope="col">Tel</th>
            <th scope="col">Cargo</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for data in userss %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.nif }}</td>
                <td>{{ data.tel }}</td>

                {% if data.role == "Admin" %}
                    <td>Admin</td>
                {% endif %}
                {% if data.role == "Gest" %}
                    <td>Gestor</td>
                {% endif %}
                {% if data.role == "Super" %}
                    <td>Supervisor</td>
                {% endif %}
                {% if data.role == "User" %}
                    <td>Utilizador</td>
                {% endif %}

                <td><a class="btn btn-danger" href="/user/{{ data.id }}/delete">Apagar</a>
                    <a class="btn btn-warning" href="/user/{{ data.id }}/update">Editar</a></td>

            </tr>
        {% endfor %}
        <td><a href="/dashboard" class="btn btn-success">Voltar</a></td>
        <td><a href="/register" class="btn btn-dark">Adicionar</a></td>
        </tbody>
    </table>
{% endblock %}